@mixin animation($time: 0.3s){
  transition: all $time ease;
}
@mixin borderRadius($size:0.5rem) {
  border-radius: $size;
}
// https://stackoverflow.com/a/41096631
@mixin customScrollBar() {
  scroll-behavior: smooth;

    &::-webkit-scrollbar{
      // @include borderRadius;
      width: 6px;
      height: 6px;
    }
      
    &::-webkit-scrollbar-track{
      // @include borderRadius;
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb{
      background: #bcc1db;
      // @include borderRadius;

      &:hover{
        background: #9FA6B2;
      }
    }
    scrollbar-width: thin;
    scrollbar-height: thin;
    // scrollbar-color: $clr-gray-4 $clr-gray-5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  [type='text'], [type='email'],
  [type='url'], [type='password'],
  [type='number'], [type='date'],
  [type='datetime-local'], [type='month'],
  [type='search'], [type='tel'],
  [type='time'], [type='week'],
  [multiple], textarea, select {
    @apply h-12 block w-full focus:ring focus:border-blue-300 focus:ring-blue-200 focus:ring-opacity-50 placeholder-gray-400 text-gray-600 border-gray-300;
    &.error {
      @apply border-red-500 focus:border-red-300 focus:ring-red-200;
    }
  }

  [type='checkbox'],
  [type='radio'] {
    @apply text-gray-600 focus:ring-blue-500 cursor-pointer;
  }
  [type='checkbox'] {
    // @apply rounded;
  }
  [type='radio'] {
    // @apply rounded-md;
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  height: 100vh;
}
.scrollbar{ @include customScrollBar }

